@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body, body[data-theme="light"] {
  --color: #121212;
  --background: white;
}

body[data-theme="dark"] {
  --color: white;
  --background: #121212;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
  color: var(--color);
}

a:visited {
  color: var(--color);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  user-select: none;

  color: var(--color);
  background: var(--background);

  transition: 0.2s color linear;
  transition: 0.2s background-color linear;
}

br {
  margin: 8px 0;
}

ul {
  list-style: none;
}

p {
    font-size: 18px;
}
