.wrapper {
    padding: 20px;
}

.title {
    padding-bottom: 5px;
}

.project {
    display: flex;
    align-items: center;

    padding: 10px;
    border: 1px solid #cbcbcb;
    margin: 15px 0;

    cursor: pointer;
}

.project:hover, .project:focus {
    transition: background-color 0.2s;
    background: #cbcbcb;
}

body[data-theme='dark'] .project:hover, 
body[data-theme='dark'] .project:focus {
    background: #333;
}

.tag {
    display: inline-block;
    padding: 3px;
    background: var(--background);
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 8px;
}

.name {
    font-weight: normal;
    width: 250px;
    padding-left: 10px;
}

@media (max-width: 860px) { 
    .project {
        flex-direction: column;
        align-items: center;
    }

    .name {
        text-align: center;
    }
}
