.wrapper {
    width: 1000px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.imageSection {
    width: 300px;
}

.image {
    display: block;
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.infoSection {
    width: 700px;
    padding: 10px 30px;
}

.name {
    font-size: 25px;
    padding-bottom: 5px;
}

.catchword {
    font-size: 20px;
}

.school {
    font-size: 20px;
}

.studyPeriod {
    font-size: 15px;
}

