.wrapper {
    width: calc(100% - 40px);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.imageSection {
    width: 300px;
}

.image {
    display: block;
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 130px;
    object-fit: cover;
    border: 3px solid #9b9b9b;
}

.infoSection {
    width: 100%;
    max-width: 700px;
    margin-left: 40px;
}

.name {
    font-size: 25px;
    padding-bottom: 5px;
}

.name span {
    display: inline-block;
}

.catchword {
    font-size: 20px;
    margin-left: 5px;
}

.school {
    font-size: 16px;
}

.studyPeriod {
    font-size: 14px;
}

@media (max-width: 860px) { 
    .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .infoSection {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .catchword {
        margin: 0;
    }
}


