.wrapper {
    padding: 24px;
}

.title {
    padding-bottom: 8px;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.tag {
    display: inline-block;
    margin-top: 8px;
    margin-right: 8px;
    background: black;
}

@media (max-width: 860px) { 
    .projectList {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
