.wrapper {
    width: calc(100% - 40px);
    margin-top: 10px;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    width: 100%;
    text-align: left;
    font-size: 56px;
    padding: 10px 0;
}

.imageSection .image {
    width: 100%;
    height: calc(100% / 16 * 9);
}

.infoSection {
    padding: 0 8px;
    width: 100%;
}

.infoSection > div {
    padding: 5px 0;
}

.link {
    word-wrap: break-word;
}

.tag {
    display: inline-block;
    padding: 3px;
    background: var(--background);
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    margin-right: 8px;
}

.functions ul {
    list-style: inherit;
    margin-left: 30px;
}

.functions ul li {
    font-size: 18px;
}

.subtitle {
    font-size: 28px;
    padding: 8px 0;
}

.significanceList {
    list-style: none;
}

.significance {
    display: flex;
    margin: 10px 0;
}

.significance h3 {
    padding: 10px 0;
    word-break: keep-all;
    width: 100%;
    font-size: 18px;
}

.significance .image {
    padding: 20px;
    object-fit: cover;
    max-width: 60%;
    max-height: 500px;
}

.description {
    word-wrap: break-word;
}

@media (max-width: 860px) { 
    .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .header {
        flex-direction: column;
    }

    .infoSection {
        margin: 0;
    }

    .significance {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .catchword {
        margin: 0;
    }
}


