.wrapper {
    padding: 10px 20px;
}

.title {
    padding-bottom: 10px;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
}

.skillList * {
    margin: 10px;
    margin-left: 0;
    margin-right: 5px;
}

