.wrapper {
    padding: 0 24px;
}

.title {
    padding-bottom: 8px;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
}

.wrapper h2 {
    font-size: 24px;
}

.skillList * {
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

