.wrapper {
    padding: 10px 20px;
}

.title {
    padding-bottom: 5px;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
}

.wrapper h2 {
    font-size: 20px;
}

.skillList * {
    margin: 5px;
    margin-left: 0;
    margin-right: 5px;
}

