.wrapper {
    width: calc(100% - 40px);
    margin-top: 10px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.imageSection {
    width: 500px;
    height: 281px;
}

.image {
    display: block;
    width: 500px;
    height: 281px;
    object-fit: cover;
}

.infoSection {
    width: 100%;
    max-width: 700px;
    margin-left: 40px;
}

.infoSection > div {
    padding: 5px 0;
}

.tag {
    display: inline-block;
    padding: 3px;
    background: var(--background);
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    margin-right: 8px;
}

.article {
    margin-top: 20px;
}

.subtitle {
    padding-left: 8px;
}

.article > div {
    padding: 5px;
}

.article .description {
    margin: 4px;
}

@media (max-width: 860px) { 
    .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .infoSection {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .catchword {
        margin: 0;
    }
}


